body{
    background-color: #007bff; 
    color: white; 
}

.jumbotron {
    background-color: #e9ecef; 
}

.navbar-brand,
.nav-link {
    transition: transform 0.3s ease;
    font-weight: bold;
}

    .navbar-brand:hover,
    .nav-link:hover {
        transform: scale(1.05);
        text-shadow: 0 0 4px black;
    }

.navbar {
    margin: 0 !important;
    padding: 0 !important;
}
